Sure, here are the package names without their version numbers:

 asarPy
asgiref
async-timeout
attrs
autobahn
Automat
certifi
cffi
channels
channels-redis
charset-normalizer
constantly
cryptography
daphne
defusedxml
 Django
 django-admin-interface
 django-allauth
 django-channels
 django-colorfield
hyperlink
 idna
 incremental
 msgpack
 oauthlib
 pexpect
 Pillow
 ptyprocess
 pyasn1
 pyasn1-modules
 pycparser
 PyJWT
 pyOpenSSL
 pypng
 python-slugify
 python3-openid
 qrcode
 redis
 requests
 requests-oauthlib
 service-identity
 six
sqlparse
Strip
stripe
text-unidecode
Twisted
txaio
typing_extensions
urllib3
zope.interface